<%inherit file="/base.html" />

<%block name="main">

%if E:
${ e(E) }
%else:
<div>
  <form method="POST">${ xsrf_form_html() }
	<fieldset>
	  <legend>${ _("Sign In") }</legend>
	  ${ form.username.label } ${ form.username() }
	  ${ form.html_errors(form.username.errors) }

	  ${ form.password.label } ${ form.password() }
	  ${ form.html_errors(form.password.errors) }
	  <br>
	  <button type="submit" class="btn">${ _("Submit") }</button>
	</fieldset>
  </form>
</div>

<div class="c2 site-rules">
  <h3 class="sectitle">${ _("Forget Password ?") }</h3>
  <p>${ _("If you forget your password, you can click") }</p>
  <p><a href="/account/reset_password">${ _("Reset My Password") }</a></p>
  <h3 class="sectitle">${ _("No Account Yet ?") }</h3>
  <p>${ _("If you have not account yet, you can join us by click") }</p>
  <p><a href="/register">${ _("Register") }</a></p>
</div>

%endif

</%block>
