<%inherit file="crm_base.html"/>

<%block name="submain">


<h3><i class="icon-group icon-large"></i> ${ _("Customers") }</h3>
% if customer_list:
<div class="customer-list">
  <table class="table">
	<thead>
	  <tr>
		<th>${ _("Name") }</th>
		<th>${ _("User") }</th>
	  </tr>
	</thead>
	<tbody>
	  % for customer in customer_list:
	  <tr>
		<td><a href="${ reverse_url('crm:customer:view') }?id=${ customer.id }">${ customer.name }</a></td>
		<td>${ customer.user.username }</td>
	  </tr>
	  % endfor
	</tbody>
  </table>
</div>
% else:
<div class="hero-unit">
  ${ _("No customers yet.") }
</div>
% endif


<h3><i class="icon-envelope-alt icon-large"></i> ${ _("Contacts") }</h3>
% if contact_list:
<div class="contact-list">
  <table class="table">
	<thead>
	  <tr>
		<th>${ _("Contact") }</th>
		<th>${ _("Customer") }</th>
		<th>${ _("User") }</th>
	  </tr>
	</thead>
	<tbody>
	  % for contact in contact_list:
	  <tr>
		<td><a href="${ reverse_url('crm:contact:view') }?id=${ contact.id }">${ contact.name }</a></td>
		<td><a href="${ reverse_url('crm:customer:view') }?id=${ contact.customer_id }">${ contact.customer.name }</a></td>
		<td>${ contact.user.username }</td>
	  </tr>
	  % endfor
	</tbody>
  </table>
</div>
% else:
<div class="hero-unit">
  ${ _("No contacts yet.") }
</div>
% endif


<h3><i class="icon-list-alt icon-large"></i> ${ _("Contact Interactions") }</h3>
% if contact_list:
<div class="interaction-list">
  <table class="table">
	<thead>
	  <tr>
		<th>${ _("User") }</th>
		<th>${ _("Method") }</th>
		<th>${ _("Contact") }</th>
		<th>${ _("Summary") }</th>
		<th>${ _("Started") }</th>
		<th>${ _("Ended") }</th>
	  </tr>
	</thead>
	<tbody>
	  % for interaction in interaction_list:
	  <tr>
		<td>${ interaction.user.username }</td>
		<td>${ interaction.type_str }</td>
		<td><a href="${ reverse_url('crm:contact:view') }?id=${ interaction.contact_id }">${ interaction.contact.name }</a></td>
		<td><a href="${ reverse_url('crm:contact:interaction:view') }?id=${ interaction.id }">${ interaction.summary }</a></td>
		<td>${ interaction.started }</td>
		<td>${ interaction.ended }</td>
	  </tr>
	  % endfor
	</tbody>
  </table>
</div>
% else:
<div class="hero-unit">
  ${ _("No interactions yet.") }
</div>
% endif

</%block>
